.btn-openModal {
  background: #4f5cd1;
  color: #eee;
  font-size: 1rem;
  margin-top: 3rem;
  padding: 0.5rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  float: right;
  margin-right: 10%;
}

@media only screen and (max-width: 750px) {
  .btn-openModal {
    margin-right: -30%;
  }
}
