#DataTable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border-collapse: collapse;
  width: 80%;
  max-width: 1500px;
  margin: auto;
  margin-top: -420px;
}

#DataTable tbody {
  overflow: auto;
}

#DataTable td,
#DataTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#DataTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#DataTable tr:hover {
  background-color: #ddd;
}

#DataTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4f5cd1;
  color: white;
}

#DataTable th:nth-child(2) {
  width: 20%;
}

#DataTable th:nth-child(3) {
  width: 40%;
}

#DataTable td:nth-child(1) {
  text-align: center;
}

#DataTable td:nth-child(n + 4) {
  text-align: center;
}

#ButonDelete {
  margin-left: 10px;
  background: transparent url(../../img/redDelete.png) no-repeat left top;
  width: 34px;
  height: 38px;
  border: none;
  cursor: pointer;
}

#ButonDelete:active {
  outline: none;
}

#ButonEdit {
  margin-left: 20px;
  background: transparent url(../../img/blueEdit.png) no-repeat left top;
  width: 34px;
  height: 33px;
  border: none;
  cursor: pointer;
}

#ButonEdit:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  #ButonEdit {
    width: 24px;
  }
  #ButonDelete {
    width: 23px;
  }

  #DataTable td:nth-child(6) {
    padding: 0px;
  }
}
